@import "compass";

$black: #222;
$white: #fff;
$paper: #ebe1ca;

$contrasted-dark-default: $black;

$body-background: $paper;
$body-text-color: $black;
$font-section-background: $white;

$serif-stack: serif;
$sans-stack: sans-serif;

$nav-font-size: 20px;

@include establish-baseline;

*, *:before, *:after {
	@include box-sizing(border-box);
}

body {
    background-color: $body-background;
    color: $body-text-color;
    font-family: $serif-stack;
    max-width: 1600px;
    margin: 0 auto;

	@include single-transition(opacity);
    opacity: 0;
    .content-ready &, .no-js & {
    	opacity: 1;
    }
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

figure {
	margin: 0;
}

a {
	color: inherit;
	border-bottom: 1px dotted $body-text-color;
	text-decoration: none;
}

.page-header {
	max-width: 960px;

}

.page-header, .font-nav {
	padding: 0 rhythm(1);
}

.page-header, .font-nav, .classification {
	@include margin-trailer(1);
}

.font-nav {
	h1 {
		@include adjust-font-size-to(40px);
	}

	h2 {
		@include adjust-font-size-to(24px);
		margin-top: 0;
		@include margin-trailer(0.5, 24px);
	}

	ol {
		@include adjust-font-size-to($nav-font-size);
		@include margin-leader(0.5, $nav-font-size);
		@include margin-trailer(0.5, $nav-font-size);
	}

	li {
		@include margin-trailer(0.5, $nav-font-size);
	}

	@include clearfix;
	> div {
		@include nowrap;
		float: left;
		margin-right: rhythm(1);
	}
}

.classification {
	padding: 0 rhythm(1);
	> header {
		@include margin-trailer(1);
		padding: 1em;
		h1 {
			@include adjust-font-size-to(40px);
			@media(min-width: 768px) {
				@include adjust-font-size-to(64px);
			}
			margin: 0;
			border-bottom: 3px dotted $body-text-color;
		}
	}
}

.font {
	display: none;
	&.wf-active {
		display: block;
	}

	padding: rhythm(1);
	background-color: $font-section-background;
	width: 100%;

	header, .character-set {
		margin-bottom: 24px;
		margin-bottom: 1.5rem;
	}

	header {
		@media(min-width: 1400px) {
			width: 45%;
			float: left;
			margin-right: 5%;
		}
		border-bottom: 3px dotted $body-text-color;
		h1 {
			@include adjust-font-size-to(40px);
			@media(min-width: 768px) {
				@include adjust-font-size-to(64px);
			}
			margin: 0;
		}
		dt, dd {
			display: inline-block;
			margin: 0;
			font-family: $sans-stack;
		}
		dt {
			font-weight: bold;
			&:after {
				content: ':';
			}
		}
		dd {
			&:not(:last-child):after {
				content: ' //';
			}
		}
	}

	.character-set {
		@media(min-width: 1400px) {
			width: 45%;
			float: left;
		}
		@include adjust-font-size-to(36px);

		p {
			float: left;
			margin: 0;
			@include word-break(break-all);
		}

		.lowercase, .symbols {
			clear: left;
		}

		.lowercase, .numerals {
			&:after {
				content: '\00a0';
			}
		}

		figcaption {
			clear: both;
			@include adjust-font-size-to($to-size: 16px, $from-size: 36px);
			@include padding-leader(1);
			font: {
				family: $sans-stack;
				style: italic;
			}
		}
	}

	.anatomy {
		width: 100%;
		@include clearfix;

		p {
			margin: 0;
			line-height: 1.5;
		}
	}
}

.page-footer {
	@include contrasted($black);
	-webkit-font-smoothing: antialiased;
	@include margin-leader(2);
	padding: rhythm(2);

	p:first-child {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}

	a {
		border-bottom-color: contrast-color($black);
	}
}
